.friend {
    display: grid;
    grid-template-columns: 150px 1fr;
    color: gray;
    background-color: rgb(51, 51, 54);
    margin: 10px;
    border: 2px gray solid;
}

.friendname {
    font-size: x-large;
}

.friendimg img {
    width: 145px;
}