.profilepage {
    display: grid;
    grid-template-columns: 1fr 4fr;
}

.image img{
    border-radius: 50%;
    width: 200px;
}

.description {
    font-family: sans-serif;
}


.status {
    font-size: large;
}

.status:hover{
    cursor: pointer;
}

.contacts {
    margin: 0;
    padding: 10px;
}

.ChangeProfileForm {
    background-color: rgb(51, 51, 54);
    border-radius: 15px;
    color: rgb(185, 185, 185);

}
.ChangeProfileForm form {
    padding: 30px;
}
.ChangeProfileForm input {
    color: rgb(222, 223, 226);
}
.ChangeProfileForm textarea {
    color: rgb(222, 223, 226);
}
.ChangeProfileForm label{
    color: rgb(222, 223, 226);
}
.indent {
    padding: 10px;
}