.profilepage {
    display: grid;
    grid-template-columns: 1fr 4fr;
}

.image img{
    border-radius: 50%;
    width: 200px;
}

.description {
    font-family: sans-serif;
}


.status {
    font-size: large;
}

.status:hover{
    cursor: pointer;
}

.contacts {
    margin: 0;
    padding: 10px;
}