.sidebar {
  grid-area: sidebar;
  text-decoration: none;
  background-color: rgb(34, 34, 38);
}

.tabs {
  margin: 5px;
}
.tabs p a {
  text-decoration: none;
  color: rgb(119, 119, 119);
}

.tabs p:hover {
  background-color: rgb(51, 51, 55);
}



