.container {
  display: grid;
  grid-template-areas: "header header"
    "sidebar content";
  margin: auto;
  width: 1000px;
  grid-template-rows: 150px 1fr;
  grid-template-columns: 1fr 5fr;
  grid-gap: 5px;
}